{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ restaurant.restaurant_name }}</h1>

  <!-- <p><strong>number:</strong> 
    <a href="{{ book.author.get_absolute_url }}">{{ book.author }}
    </a>
  </p>
  <p><strong>Summary:</strong> {{ book.summary }}</p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p>
  <p><strong>Language:</strong> {{ book.language }}</p>
  <p><strong>Genre:</strong> {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p> -->

{% endblock %}